.toast {
  width: 400px;
  height: 150px;
  position: absolute;
  top: 150px;
  /* visibility: hidden */
}

.light {
  background-color: #D6BC9A
}

.medium {
  background-color: #9F845C
}

.dark {
  background-color: #896850  
}